extends ../../layouts/default.pug

block main 
  
  .card.mb3-3 
    .card-header Bộ lọc và tìm kiếm 
    .card-body 
      .row 
        .col-6
          each item in filterStatus
            button(
              class=`btn btn-sm ml-1 btn-outline-success ${item.class}`
              button-status=item.status
              )  #{item.name}
        .col-6 
          form(id="form-search")
          .input-group
              input(
                type="text"
                placeholder="Nhập từ khóa"
                name="keyword"
                class="form-control"
              )
              .input-group-append 
                button(
                  type="submit"
                  class="btn btn-success"
                ) Tìm


  .card.mb3-3 
    .card-header  Danh sách sản phẩm 
    .card-body 
      table.table.table-bodered 
        thead 
          tr 
            th STT 
            th Title 
            th Thumbnail
            th Price 
            th Status 
            th Action

        tbody  
          each product, index in products
            tr 
              td #{index + 1}
              td #{product.title}
              td 
                img(src=product.thumbnail, alt=product.title width="30px" height="auto")
              td #{product.price} VNĐ
              td 
                if(product.status == "active")
                  a(href="#" class="text-success text text-decoration-none") Hoạt động 
                else
                  a(href="#" class="text-danger text text-decoration-none") Ngừng Hoạt động 
    
                
              td
                button(class="btn btn-danger btn-sm") Xoá 
                button(class="btn btn-primary btn-sm ml-1") Sửa  


            