extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug




block main 
  
  .card.mb3-3 
    .card-header Bộ lọc và tìm kiếm 
    .card-body 
      .row 
        .col-6
          +filter-status(filterStatus)
        .col-6 
          +search(keyword)
          

  .card.mb3-3 
    .card-header  Danh sách sản phẩm 
    .card-body 
      +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)

      table(
        class="table table-bordered"
        checkbox-multi
      )
        thead 
          tr 
            th 
              input(type="checkbox" name="checkall")
            th STT 
            th Title 
            th Thumbnail
            th Price 
            th Status 
            th Action

        tbody  
          each product, index in products
            tr 
              td
                input(
                  type="checkbox"
                  name="id"
                  value=product.id
                )
              td #{index + 1}
              td #{product.title}
              td 
                img(src=product.thumbnail, alt=product.title width="30px" height="auto")
              td #{product.price} VNĐ
              td 
                if(product.status == "active")
                  a(
                    href="javascript:;"
                    data-status=product.status
                    data-id=product.id
                    button-change-status
                    class="text-success text text-decoration-none"
                  ) Hoạt động 
                else
                  a(
                    href="javascript:;"
                    data-status=product.status
                    data-id=product.id
                    button-change-status
                    class="text-danger text text-decoration-none"
                  ) Ngừng Hoạt động 
    
                
              td
                button(class="btn btn-danger btn-sm") Xoá 
                button(class="btn btn-primary btn-sm ml-1") Sửa  


  +pagination(pagination)

  form(
    action=""
    method="POST"
    id="form-change-status"
    data-path=`${prefixAdmin}/products/change-status`
  ) 
  script(src="/admin/js/product.js") 